/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap');

/* Reset */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Outfit, Helvetica, Arial, sans-serif;
    background: #ffffff;
}

/* === TOP BAR === */

.top-bar {
    position: relative;
    text-align: center;
    padding-top: 40px;
}

.logo {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    letter-spacing: 0;
    color: black;
}

.section {
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0;
    color: black;
}

/* Search */

.search-wrapper {
    position: absolute;
    right: 60px;
    top: 55px;
    display: flex;
    align-items: center;
    gap: 6px;
    color: black;
    font-size: 20px;
}

.search-icon {
    font-size: 20px;
}

.search-wrapper input {
    border: none;
    border-bottom: 1px solid #c7c7c7;
    padding: 4px 4px 4px 0;
    outline: none;
    font-size: 14px;
    color: black;
}

/* Main containing shelves */

.scene {
    position: relative;
    width: 100vw;
    height: calc(100vh - 150px);
    margin-top: 20px;
}

/* Vertical side bars */

.side {
    position: absolute;
    top: 5%;
    bottom: 5%;
    width: 30px;
    background: #b16d33;
}

.side-left {
    left: 25%;
}

.side-right {
    right: 25%;
}

/* Shelf containers */

.shelf {
    position: absolute;
    left: 20%;
    right: 20%;
    height: 110px;
}

/* Corrected top positions */

.shelf-1 { top: 14%; }
.shelf-2 { top: 35%; }
.shelf-3 { top: 56%; }
.shelf-4 { top: 77%; }

/* Wooden plank */

.plank {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    background: #b16d33;
}

/* Shelf labels */

.shelf-label {
    position: absolute;
    right: 160px;
    bottom: 70px;
    padding: 8px 56px;
    border: 3px solid black;
    font-size: 30px;
    color: black;
    background: #ffffff;
    text-align: center;
}

/* Vertical book groups */

.books-vertical {
    position: absolute;
    bottom: 32px;
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

/* Updated left positions */

.group-1-left  { left: 11.5%; }
.group-1-right { left: 45%; bottom: 28px; }

.group-2-left  { left: 11.5%; }

.group-3-left  { left: 11.5%; }

.group-4-left  { left: 11.5%; }
.group-4-right { left: 35%; bottom: 28px; }

/* Book base styles */

.book {
    width: 26px;
}
.small{
    height: 115px;
}
.medium{
    height: 120px;
}
.tall {
    height: 130px;
}

/* Basisregel, gilt überall */
.h-book {
    height: 20px;
    margin-bottom: 2px;
}

/* Größenvarianten – funktionieren jetzt auch */
.h-small {
    width: 90px;
}
.h-medium {
    width: 110px;
}
.h-large {
    width: 130px;
}

/* Container für Stapel */
.stacked {
    position: absolute;
    left: 500px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
}



/* Kleine Offsets für mehr "handgemacht"-Look */
.stacked .h-book:nth-child(1) { transform: translateX(0); }
.stacked .h-book:nth-child(2) { transform: translateX(6px); }
.stacked .h-book:nth-child(3) { transform: translateX(12px); }
.stacked .h-book:nth-child(4) { transform: translateX(4px); }
.stacked .h-book:nth-child(5) { transform: translateX(10px); }


/* Colors */

.purple       { background: #4c2a7a; }
.purple-dark  { background: #3a1f5d; }
.blue-light   { background: #6ea3ff; }
.blue-lighter { background: #9ec5ff; }
.green-light  { background: #c7dd5f; }
.green-dark   { background: #2f641b; }
.red          { background: #c92b1c; }
.orange       { background: #f6a046; }
.orange-lean  { background: #f3824f; }
.yellow       { background: #f5d75c; }
.peach        { background: #f7a78a; }
.pink         { background: #f6b4c0; }

/* Rotations */

.orange-lean {
    transform: rotate(-6deg);
    transform-origin: bottom center;
}

.purple-lean {
    transform: rotate(7deg);
    transform-origin: bottom center;
}

.green-lean {
    transform: rotate(-8deg);
    transform-origin: bottom center;
}

/* Horizontal stack exact colors */

.group-1-right .h-book:nth-child(1) { background: #2f641b; }
.group-1-right .h-book:nth-child(2) { background: #6ea3ff; }
.group-1-right .h-book:nth-child(3) { background: #f6b4c0; }
.group-1-right .h-book:nth-child(4) { background: #f46b42; }

.group-4-right .h-book:nth-child(1) { background: #4c2a7a; }
.group-4-right .h-book:nth-child(2) { background: #c7dd5f; }
.group-4-right .h-book:nth-child(3) { background: #f6a046; }
.group-4-right .h-book:nth-child(4) { background: #f46b42; }
.group-4-right .h-book:nth-child(5) { background: #2f641b; }


/* Friends Icons */

/* Friends Icons */
.friends_icons {
    position: absolute;
    left: 14.5%;      /* exakt da, wo vorher die Bücher standen */
    bottom: 32px;     /* gleiche Höhe wie books-vertical */
    display: flex;
    gap: 20px;        /* Abstand zwischen Icons */
    align-items: flex-end;
}

.friend-icon {
    width: 120px;
    height: 150px;
    object-fit: cover;
}
